/* Color values used */
:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}

/* Desktop devices 1440 px */

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.bg-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.bg-pattern-images{
    background-color: white;
    overflow: hidden;
}

.pattern-bg-right{
    position: fixed;
    top: 20px;
    right: 70px;
}

.pattern-curve{
    position: fixed;
    bottom: 0;
    left: 0px;
}

.pattern-quotes{
    position: fixed;
    top: 128px;
    left: 360px;
}

.testimonial-container{
    width: 642px;
    height: 518px;
    z-index: 2;
    margin-top: 185px;
    margin-left: 116px;
}

.quote-text{
    font-size: 32px;
    font-weight: 500;
    color: var(--dark-blue);
}

.person-title-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    align-content: stretch;
    z-index: 2;
}

.quote-person{
    font-weight: 700;
    font-size: 16px;
    text-shadow: 1px 0 var(--dark-blue);
    color: var(--dark-blue);
    margin-right: 8px;
    margin-top: 32px;
}

.person-title{
    font-weight: 300;
    text-shadow: 0.4px 0 var(--dark-blue);
    color: var(--grayish-blue);
    margin-top: 32px;
}

.image-tanya{
    border-radius: 4px;
    z-index: 1;
    margin-left: -70px;
    margin-top: -15px;
    box-shadow: -2px 24px 24px -8px rgba(153, 116, 216, 0.603);
}

.nav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    position: relative;
    z-index: 3;
    background-color: white;
    border-radius: 25px;
    width: 84px;
    height: 40px;
    top: 260px;
    right: 456px;
}

#icon-previous{
    margin-right: 32px;
}

/* Footer style css */

.attribution { 
    font-size: 11px; text-align: center;
    margin-top: 50px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    body {
        min-width: 375px;
    }
    .bg-container {
        flex-direction: column-reverse;
    }
    .image-tanya {
        border-radius: 4px;
        width: 70%;
        z-index: 1;
        margin-left: 0px;
        margin-top: 12px;
        box-shadow: 6px 16px 28px 0px rgb(93 57 155 / 44%);
    }
    .pattern-bg-right {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 88%;
    }
    .pattern-quotes {
        position: fixed;
        top: 372px;
        left: 158px;
        width: 56px;
    }
    .testimonial-container{
        width: 80%;
        height: 100%;
        margin-left: 12%;
        margin-right: 12%;
        margin-top: 24%;
        word-break: keep-all;
        z-index: 2;
    }
    .quote-text {
        width: 100%;
        margin-left: 0;
        font-size: 17px;
        text-align: center;
    }
    .person-title-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        z-index: 2;
    }

    .person-title {
        font-weight: 300;
        text-shadow: 0.4px 0 var(--dark-blue);
        color: var(--grayish-blue);
        margin-top: 2px;
        margin-right: 4px;
    }

    .quote-person{
        font-weight: 700;
        font-size: 16px;
        text-shadow: 1px 0 var(--dark-blue);
        color: var(--dark-blue);
        margin-top: 16px;
    }
    .pattern-curve {
        position: fixed;
        bottom: 0;
        left: 0px;
        width: 272px;
    }

    .attribution{
        display: none;
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        position: relative;
        z-index: 3;
        background-color: white;
        border-radius: 52px;
        width: 72px;
        height: 88px;
        top: 292px;
        right: 6px;
    }
}